.pagination {
  text-align: center;
  padding: 20px;
}

.pagination_btn {
  margin: 4px;
  padding: 3px;
  border: 1px solid;
  border-color: var(--color-tertiary);
  border-radius: 2px;
  transition: all 0.4s;
  text-decoration: none;
  color: var(--color-tertiary);

  &_gap {
    border: none;
    text-decoration: none;
    padding: 0 8px;
    color: var(--color-tertiary);
  }
}

.pagination_btn:hover {
  cursor: pointer;
  background: var(--color-secondary);
  color: var(--bg-logo);
}

.pagination_btn_active {
  color: var(--color-tertiary);
  background: var(--color-primary);
}
