.pagination_btn {
  margin: 4px;
  padding: 3px;
  border: 1px solid gray;
  transition: all 0.4s;
  text-decoration: none;
  color: #000;
}

.pagination_btn:hover {
  cursor: pointer;
  color: #ffffff;
  background: #282c34;
}

.pagination_btn_active{
  background: #FFD700;
}
