.genre_badge {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background: var(--color-primary);
  color: var(--color-tertiary);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--color-tertiary);
}
