.header {
  padding: 20px;
  background: var(--color-primary);
  color: var(--font-color);
  transition: all 0.4s;

  &__logo {
    background-color: var(--bg-logo);
    border: 1px solid;
    border-color: var(--color-tertiary);
    padding: 10px 20px;
    border-radius: 4px;
  }

}
