.movies_list_card {
  padding: 4px;
  //border: 1px solid;
  //border-color: var(--color-tertiary);
  border-radius: 4px;
  height: 100%;
  color: var(--color-tertiary);
  margin-bottom: 4px;
  transition: all 0.4s;
}

.movies_list_card:hover {
  background-color: var(--color-secondary);
  color: var(--bg-logo);
}

.text_justify {
  text-align: justify;
}

h2 {
  text-align: center;
}
